:MAIN
   # Redirect a single Literal Line
   # The advantage is that double quotes do not need to be escaped
   >MyLine  This entire line is literal, including its "quotes"
   
   # Blank spaces are not considered between the Variable Name and the literal Line.
   Msg "LINE" with MyLine
   
   # The ">" pointer marks the beginning of the Indentation Margin
   # It must be respected to obtain accurate results
   >MyParagraph
    First line
       Second line
    Third line
   
   # Content is captured only from the pointer margin.
   # Previous blank spaces on lines are not included.
   Msg "CONTENT" With MyParagraph
   
   # It is possible to use Percentage Expressions to build more complex content
   Set TEST = "n e w"
   >MyParagraph
    First line
    Second line
    %TEST%
    Third line
   Msg "CONTENT" With MyParagraph
   
   # Character escaping is also supported
   >MyParagraph
    First line
    Second line\n\n
    Third line
   Msg "CONTENT" With MyParagraph
   
   
   # Calling Expressions $(Function P1 P2 ...) ARE NOT supported
   # They will simply be considered as a literal part
   >MyLine This does NOT call any function: $(ReturnME)\n\nBye!
   Msg "CONTENT" With MyLine
   
   
   
   