:MAIN
    # DinoCode is based on AHK but does NOT include support for all its features
    #   The use of Graphical User Interfaces was adapted to DinoCode
    #   but only compatibility is ensured with these functions:
    #
    #       Gui 			-> https://www.autohotkey.com/docs/v1/lib/Gui.htm
    #       GuiControl 		-> https://www.autohotkey.com/docs/v1/lib/GuiControl.htm
    #       GuiControlGet 	-> https://www.autohotkey.com/docs/v1/lib/GuiControlGet.htm
    #
    #   You can use complementary functions to GUI elements such as LV_Add, LV_ModifyCol.
    #   Unless they require an Output Variable (DinoCode Variables do NOT work at the same level as AHK Variables)
    
    # Change font style
    Gui "MyIdentifier: Font, s30 underline cgreen, Arial Black"
    # Add text
    Gui "MyIdentifier: Add, Text, , Hello World"
    # Show the window as a dimension of: 300X100
    Gui "MyIdentifier: Show, w300 h100, My Window title"

    WaitWindow "My Window title"
