:FIRST
   Msg With "First button!"
:SECOND
   Msg With "Second button!"
:MAIN
   # A TAG section can be linked to an event
   # Format: gTAG
   Gui "MyGUI: Add, Button, gFIRST w100 h50, PRESS ME"
   Gui "MyGUI: Add, Button, gSECOND w100 h50, PRESS ME TOO"
   Gui "MyGUI: Show, AutoSize, My window"
   WaitWindow "My window"
