:RECEIVE
   # Update the content of all GUI Variables
   Gui "MyGUI: Submit, NoHide"

   # Any GUI Variable (vVAR or hwndVAR) exists only within the Gui function
   # To obtain the content you must use -> Gui "Return VAR"
   Msg "Received" With $(Gui "Return CONTENT")
:MAIN
   Gui "MyGUI: Font, s20, MS Sans Serif"
   # GUI Variables are defined in this format: vVARIABLE
   Gui "MyGUI: Add, Edit, w200 h100 vCONTENT"
   Gui "MyGUI: Font, s20, Arial Black"
   Gui "MyGUI: Add, Button, gRECEIVE, SUBMIT"
   Gui "MyGUI: Show, AutoSize, My window"
   WaitWindow "My window"
