:Table -> Table = [Tabla], Title = [Titulo], width = [ancho] , height = [altura]
    # Functions like Gui / LV_GetCount / LV_Add / LV_ModifyCol are inherited from AHK
    # -> https://www.autohotkey.com/docs/v1/lib/Gui.htm
    Set N = Table[1]
    # The HEADER should not be considered
    # The RemoveAt method removes the element from the array and returns its value
    # -> https://www.autohotkey.com/docs/v1/lib/Object.htm
    Set HEADER = With.RemoveAt(1)
    If Width[1] AND Height[1]
       # Sometimes, it is better to use a single (Expression) to use general string concatenation, rather than accumulating multiple expressions within the string.
       Set Dimen With ( "w" . Width[1] . " h" . Height[1] )
    Set HEADER = (Dimen . ", " . HEADER)
    If Title[1]
       Set Title = Title[1]
    Else
       Set Title = ("Table" . N)
    Gui "custom%N%: Destroy"
    Gui "custom%N%: Default"
    Gui "custom%N%: +AlwaysOnTop"
    Gui "custom%N%: Add, ListView, %HEADER%"
    Set Columns With $(LV_GetCount "Column")
    If Columns
        For KEY VALUE in WITH
           # New versions of DinoCode support pointer expansion even in expressions that produce an object
           LV_Add "" $(StrSplit VALUE "|")*
        For Columns
           LV_ModifyCol Index "AutoHdr"
    Gui "custom%N%: Show, AutoSize, %Title%"

:main
   Message "HUH" with "Welcome to DinoCode!"
   If $(Question with "Do you want to continue?")
      Table 1 Title "huh" Width 500 Height 300 With "Column 1|Column 2|Column 3" "1|2|3" "4|5|6"
      # Spanish version taking advantage of the nicknames of the connectors
      Tabla 2 Titulo "IDK" Ancho 200 Altura 50 con "|Petecito" "1|Pwu" "2|Oleee"
      WaitWindow "huh"




