:MAIN
    #----------------------------DEFINITION------------------------------#
    # Create an OBJECT File
    Set file = $(New File)

    # Define the file path
    Set file.path = "test.txt"
    
    # Define the encoding you want to work with
    # -> https://www.autohotkey.com/docs/v1/lib/FileEncoding.htm
    Set file.encoding = "UTF-8"  # With BOM
    
	# The above can be simplified to:
    Set file = $(New File with "test.txt" "UTF-8")
	

    #---------------------------BASIC METHODS-------------------------------#
    # The Create() method only ensures the creation of the file. If it already exists, it will not be overwritten.
    file.Create()
    
    # Check file existence
    if file.Exist()
        Msg "CHECK" with "The file exists!"
    Else
        Msg "CHECK" with "Cannot create file!"
        Abort

    # The Delete() method deletes the file. Doesn't work if the file name is an existing Folder
    file.Delete()

    # This deletes indiscriminately. That is, if the file name is that of an existing Folder, it will delete the Folder or File
    file.DeleteAny()
    
    # Clean the OBJECT
    Set file =
    
    
	
	
	
	
	
