:MAIN
	# Create an OBJECT File
	Set file = $(New File with "test.txt" "UTF-8")  # With BOM
	
    #---------------------------BASIC PROPERTIES-------------------------------#
    
    # Set file.EOLTranslation = true
    # 
    # End of line (EOL) translation:
    #	true = Any `n to be written to the file will be translated to `r`n (Windows Standard - CRLF) 
    #	false = Simply write the line breaks explicitly
    #
    # By default, it comes in false so it is not usually necessary to change it
    
    # The assignment in the "content" property is resolved by replacing the entire content of the file
    # 	Or if it is necessary to create this file
    #
    # 	Line breaks In DinoCode:
    #    	`n = Line Feed (Unix)
    #    	`N = `r`n (Windows: Carriage Return + Line Feed)
    Set file.content = "First line`nSecond line`nThird line"
    
    # When the "path" property is retrieved it returns the full resolved path
    Msg "PATH" with file.path 

    # When the "content" property is retrieved it returns all the contents of the file
    Msg "CONTENT" with file.content
        
    # When the "linebreak" property is retrieved, it returns the line break detected within the file.
    Msg "Line Break" with "This is a [%file.linebreak%] line break "
    
    # Check what type of line break the file uses
   	If (file.linebreak = "`r`n")   # You can simply use `N as a shortener to `r`n (The example is for demonstration purposes only)
      	Msg "Windows" with "The file uses: CR (Carriage Return) + LF (Line Feed)"
  	Else If (file.linebreak = "`n")
      	Msg "Unix" with "The file uses: LF (Line Feed)"
    
    # Clean the OBJECT
    Set file =