:MAIN
    # Create a ZIP file using WriteRaw
    Set zip = $(New File with "test.zip" "UTF-8-RAW")
    # WriteRaw method will by default transform the string to binary (Considering the specified encoding) and perform the writing
    zip.WriteRaw("PK" . Chr(5) . Chr(6))  # Start ZIP header
    # Terminate the header by writing 18 additional NULL bytes
    # If a String to be transformed is not specified, it is still possible to specify a number of Bytes and what each one should be filled with.
    # In this example: Write 18 bytes filled with 0 (NULL)
    zip.WriteRaw("",18,0)
    Set zip =

    # Create a ZIP (Simplified way) 
    Set zip = $(New File with "test2.zip" "UTF-8-RAW")
    Set zip.content = ("PK" . Chr(5) . Chr(6))   # Start ZIP header and ensure replacement of all contents
    # Terminate the header by writing 18 additional NULL bytes
    zip.WriteRaw("",18,0)
    Set zip =
