:MAIN
   # Specific functions for File/Folder Management
   # Includes writing, deleting, copying, moving and selecting
      
   #-----------------------FILES----------------------------
   
   # ENCODING -> https://www.autohotkey.com/docs/v1/lib/FileEncoding.htm
   
   # Syntax: WriteFile "FILE" "CONTENT" "ENCODING" (Defaults to UTF-8-RAW)
   # Just create a blank file
   WriteFile "MyFile.txt"
   
   # Writing a file
   # The file is never overwritten, so more content can be added
   WriteFile "test.txt" "First line\nSecond Line\nThird line"
   WriteFile "test.txt" "\nFourth line"
   WriteFile "test.txt" "\nFifth line"
   
   # Reading a file
   # Syntax: ReadFile "PATH" "ENCODING" (Defaults to UTF-8)
   Msg "CONTENT" with $(ReadFile "test.txt")
   
   # Check the existence of a file
   If $(Exist FILE with "test.txt")
      Msg "CHECK" with "It exists and it is a file!"
      
   # It is possible to check the existing of multiple files
   If $(Exist FILE with "test.txt" "MyFile.txt" "IDK.txt")
      Msg "MULTI-CHECK" with "They exist and they are files!"
   Else
      Msg "MULTI-CHECK" with "One of the files does NOT exist!"
   
   # Selecting a file
   # Supported extensions can be specified. Although it is optional
   # You can specify the starting path. Although it is optional
   Set SELECT = $(SelectFile "Please select a file" with "*.txt;*.mp3;*.mp4" in "C:")
   Msg "SELECTION" with "You selected: %SELECT%"
         
         
         
   #-----------------------FOLDERS----------------------------
   
   # Create a directory. Never overwritten
   CreateDir "My Folder"
   
   # It is possible to create multiple directories in the same call
   CreateDir "My Folder 2" "My Folder 3" "My Folder 4"
   
   # Check the existence of a folder
   If $(Exist FOLDER with "My Folder")
      Msg "CHECK" with "It exists and it is a folder!"
      
   # It is possible to check the existing of multiple folders
   If $(Exist FOLDER with "My Folder" "My Folder 2" "My Folder 10")
      Msg "MULTI-CHECK" with "They exist and they are folders!"
   Else
      Msg "MULTI-CHECK" with "One of the folders does NOT exist!"

   # Selecting a folder
   # You can specify the starting path. Although it is optional
   Set SELECT = $(SelectFolder "Please select a folder" in "C:")
   Msg "SELECTION" with "You selected: %SELECT%"

   
   
   
   #-----------------------FILES AND FOLDERS----------------------------
   
   # Delete one or more FILEs / FOLDERs
   Delete "test.txt" "My Folder"
   
   # Copy a file or folder
   # By default, if the destination is a Folder the source file/folder is added inside
   Copy "MyFile.txt" "My Folder 2"
   
   # Move a file or folder
   # By default, if the destination is a Folder the source file/folder is added inside
   Move "My Folder 2" "My Folder 3"
   
   # Copy and Move support a third parameter, so that the destination is completely replaced by the source
   #   "TRUE" replaces the destination with the source, ONLY IF they are of the same type
   #        (You cannot replace a folder with a file, even with this option the file will be placed inside the folder)
   Move "My Folder 3" "My Folder 4" TRUE

   
