:MAIN
   # Question "Title" with "Question?"
   # -> Returns True or False
   If $(Question "Title" with "Do you like DinoCode?")
      Msg "ANSWER" with "Yeah"
   Else
      Msg "ANSWER" with "Nao"
   
   # Option "Title" "Extra text" with "Option 1" "Option 2" "Option 3" "..."
   # -> Returns a single number corresponding to the selected option
   #    If there is no selection, it returns 0
   Switch $(Option "Title" "Select an option:" with "First option" "Second option" "Third option")
      case 1
         Msg "OPTION" with "You selected option 1"
      case 2
         Msg "OPTION" with "You selected option 2"
      case 3
         Msg "OPTION" with "You selected option 3"
      default
         Msg "OPTION" with "You didn't select anything"
   
   # MultiCheck "Title" "Extra text" with "Option 1" "Option 2" "Option 3" "..."
   # -> Returns an Array based on each option associated with a TRUE or FALSE value
   For NUMBER CHECKED in $(MultiCheck "Title" "Select multiple options:" with "First option" "Second option" "Third option")
      If CHECKED
         Msg "OPTION" with "You selected option %NUMBER%"
   
   # Input "Extra text" Weight Height
   # -> Returns the entered text
   # -> By default, the width is adjusted based on the length of "Extra text"
   #    By default, only one line is allowed to be entered, unless Height is increased
   Msg "ENTERED-LINE" with $(Input "Enter anything:")
   
   Msg "ENTERED-MULTILINE" with $(Input "Enter anything:" 200 100)

   