:MAIN
   # Syntax: WriteFile "FILE" "CONTENT" "ENCODING" (Defaults to UTF-8-RAW) "EOLTranslation" (Defaults to FALSE)
   # ENCODING -> https://www.autohotkey.com/docs/v1/lib/FileEncoding.htm
   #
   # Just create a blank file
   WriteFile "MyFile.txt"
   
   # Writing a file
   # The file is never overwritten, so more content can be added
   WriteFile "test.txt" "First line`nSecond Line`nThird line"
   WriteFile "test.txt" "`nFourth line"
   WriteFile "test.txt" "`nFifth line"
   
   # Reading a file
   # Syntax: ReadFile "PATH" "ENCODING" (Defaults to UTF-8)
   Msg "CONTENT" with $(ReadFile "test.txt")
   
   # Check the existence of a file
   If $(Exist FILE with "test.txt")
      Msg "CHECK" with "It exists and it is a file!"
      
   # It is possible to check the existing of multiple files
   If $(Exist FILE with "test.txt" "MyFile.txt" "IDK.txt")
      Msg "MULTI-CHECK" with "They exist and they are files!"
   Else
      Msg "MULTI-CHECK" with "One of the files does NOT exist!"
   
   # Selecting a file
   # Supported extensions can be specified. Although it is optional
   # You can specify the starting path. Although it is optional
   Set SELECT = $(SelectFile "Please select a file" with "*.txt;*.mp3;*.mp4" in "C:")
   Msg "SELECTION" with "You selected: %SELECT%"
   
   
   
         