:MAIN
   # Create a directory. Never overwritten
   CreateDir "My Folder"
   
   # It is possible to create multiple directories in the same call
   CreateDir "My Folder 2" "My Folder 3" "My Folder 4"
   
   # Check the existence of a folder
   If $(Exist FOLDER with "My Folder")
      Msg "CHECK" with "It exists and it is a folder!"
      
   # It is possible to check the existing of multiple folders
   If $(Exist FOLDER with "My Folder" "My Folder 2" "My Folder 10")
      Msg "MULTI-CHECK" with "They exist and they are folders!"
   Else
      Msg "MULTI-CHECK" with "One of the folders does NOT exist!"

   # Selecting a folder
   # You can specify the starting path. Although it is optional
   Set SELECT = $(SelectFolder "Please select a folder" in "C:")
   Msg "SELECTION" with "You selected: %SELECT%"

   
   