:MAIN
	# The Clipboard Variable is a special reference to the user's Clipboard.
	# Get the current plain text from the user's Clipboard	
	Msg "CURRENT - Clipboard" with Clipboard
	
	# Any assignment will replace all content in the user's Clipboard
	Set Clipboard = "Clipboard feature inherited from AHK"
	
	Msg "PASTE" with "Go to your favorite Text Editor and use Paste or Ctrl + V"
	