:MAIN
   Set VAR with $(Input "Enter a Number, Word or Date:")

   # Manually review every possible unique data type
   If (VAR="")
	  Msg with "Is Empty!"
   Else If $(isTypeOf VAR "Number")
      If $(isTypeOf VAR "Integer")
         Msg with "Is an Integer!"
	  Else If $(isTypeOf VAR "Float")
	     Msg with "Is a floating point number!"
   Else If $(isTypeOf VAR "Space")
      Msg with "It is a space/line feed/tab/carriage return/vertical tab/formfeed"
   Else If $(isTypeOf VAR "Alpha")
      # Is empty or contains only alphabetic characters
      If $(isTypeOf VAR "Upper")
         Msg with "Uppercase characters!"
	  Else If $(isTypeOf VAR "Lower")
	     Msg with "Lowercase characters!"
      Else
         Msg with "Alpha characters (Uppercase/Lowercase mixed)!"
   Else if $(isTypeOf VAR "Alnum")
      Msg with "Alphanumeric characters (alphabetic/numeric)!"
   Else if $(isTypeOf VAR "Time")
      Msg with "Date-time stamp, which can be all or just the leading part of the YYYYMMDDHH24MISS format."
   Else
      Msg with "Is a String!"


   # There are special data types such as Arrays/Objects
   Set ARRAY with "First" "Second"
   
   If $(isTypeOf ARRAY "Object")
	   Msg with "Is an Object!"
   Else If $(isTypeOf ARRAY "Array")
       Msg with "Is an Array!"


   # Directly obtain the specific unique data type
   # It can be a much faster solution than manual review
   Msg with $(TypeOf VAR)
   Msg with $(TypeOf ARRAY)






