:INCREASE
  COUNT++
  IF (COUNT >= 100)
     Thread INCREASE Delete
     Thread PrintME Delete
     Msg "Thread" With "The counter will NO longer increment."
     
:PrintME
  Print $(Repeat "Kiss? - " COUNT)
  
:MAIN
  # Although DinoCode is NOT focused on high levels of processing
  # THREADS can be useful in some contexts
  
  # Threads can access/modify variables from the TAG section that started them
  Set COUNT With 0
  
  Print "Let's get started!"
  
  # The established timers are relative. There is a small time lag until the code is interpreted
  Thread INCREASE 50    # Call every 50 milliseconds
  Thread PrintME 10     # Call every 10 milliseconds
  
  Msg "Main" With "This message does not prevent the counter from being incremented."
