:MAIN
	# Create a blank Object
	Set OBJECT = $(Object)
	
	# Create an Object with keys associated with values
	Set OBJECT = $(Object "KEY" "Good morning" "KEY2" "Good afternoon")
	
	# Dot notation is especially useful when working with Associative Objects
	# Because it allows you to traverse the keys of the object directly/cleanly
	Msg with OBJECT.KEY        # Good morning

    Msg with OBJECT.KEY2       # Good afternoon

    # Associate a new key
    Set OBJECT.KEY3 = "Good Night"
    
    # Associate a new KEY but using Brackets notation
    # Although for this type of Objects it may be inconvenient
    Set OBJECT["KEY4"] = "Enjoy your sleepless night!"
    
    Msg with OBJECT["KEY4"]    # Enjoy your sleepless night!
    
    # Proper use of Brackets.
    # Content within Brackets is considered an Expression to Resolve.
    # it is possible to construct the KEY directly or make Reference to Variables
    Set KEY = "KEY4"
    Msg with OBJECT[KEY]       # Enjoy your sleepless night!

    # Get the total number of elements
    # As this type of Objects do not have a Maximum Index like Arrays (non-numeric Keys), the Count() method is appropriate to count them.
	Msg with OBJECT.Count()    # 4 elements	
	
	
	