#----------------------------ADVANCED-----------------------------------
# Although to avoid confusion the Arrays and Objects were separated as different declarations
#
# The Arrays and Objects are of the SAME TYPE, the ONLY distinction is the nature of their keys (NUMERIC / NON-NUMERIC)


# "ARRAYS" in DinoCode:
#
# 		In many languages the Index indicates how many positions to create within the Array: Array[INDEX]
# 		But in DinoCode the Arrays are Objects, where the "Array" can grow without having to manually increase its size
#
#
# 		- When an Index is specified (Ex: MyArray[5]) 5 blank positions are NOT created
#  			Instead only an Object is created that even allows defining a value in a higher position such as MyArray[10]
#   	- Even so, specific methods such as Push(), MaxIndex(), RemoveAt() and more
#   		are designed to work with an Object that simulates an Array, they will respect the defined Index    
#       	-> https://www.autohotkey.com/docs/v1/lib/Object.htm


:MAIN
	# So, considering the Array really as an Object.
	# It is valid to assign a non-numeric key, EVEN THOUGH specific methods for Arrays are evidently no longer a viable option.
	
	Set Array = "First" "Second" "Third"
	
	Set Array.KEY = "My KEY is NO longer numerical"
	
	Msg with Array.1
	Msg with Array.2
	Msg with Array.3
	Msg with Array.KEY
	
	# If use MaxIndex() only the Maximum numerical KEY is reflected.
	# That does NOT consider the non-numeric key
	Msg "INDEX" with Array.MaxIndex()
	
	# It is better to use methods for OBJECTS
	Msg "COUNT" with Array.Count()
	
	
	
