
:MyDinoTAG
   # When a TAG section is called from an HtmlGUI, two objects are created:
   #    html = Object of the entire HtmlGUI window. You can use html.doc to access the DOM:
   #           html.doc.getElementById("ID")
   #    event = Object of the element from which the event came. For example, to know the ID of the element from which the CLICK was made
   #           event.target.id

   Set ID = event.target.id

   # To get a JavaScript variable/function just use html.wnd.VARIABLE
   Msg "JavaScript Variable" with html.wnd.My_JS_VAR
   Msg "JavaScript Function" with html.wnd.ReturnTHIS("From DinoCode")
   
   > NEW_CONTENT
      Element with ID: %ID%
      <p style='color: aquamarine; font-size: large;'>This text was defined using DinoCode</p>

   # Update content directly in the HTML using the DOM
   Set html.doc.getElementById("CONTENT").innerHTML = NEW_CONTENT

:MAIN
   > html
      <div id="CONTENT">
         Nothing
      </div>
      <div class='button-container'>
         <button id="FirstButtonID" onclick='ahk.dinocode(event,"MyDinoTAG")'>FROM DinoCode</button>
         <button id="SecondButtonID" class='red' onclick='MyJSFunc(event)'>FROM JavaScript</button>
      </div>


   > css
      /* Make the title bar dark with light text */
      header {
         background: #333;
         color: white;
      }
      /* Make the content area dark with light text */
      .main {
         background: #444;
         color: white;
      }
      #CONTENT {
         text-align: center;
      }
      .button-container {
         display: flex;
         justify-content: space-around;
         padding: 10px;
      }
      button {
         cursor: pointer;
         padding: 10px;
         margin: 5px;
         background-color: #3498db;
         color: white;
         border: none;
         border-radius: 5px;
      }
      .red {
         background-color: #e74c3c;
      }


   > js
      var My_JS_VAR = "This content was obtained from JavaScript";
      function ReturnTHIS(text) {
         return "Modified by JavaScript:\\n\\n" + text;
      }
      function MyJSFunc(event) {
         var ID = event.target.id
         document.getElementById('CONTENT').innerHTML = 'Element with ID: ' + ID + " <p style='color: orange; font-size: large;'>This text was defined using JavaScript</p>";
      }

   
   # Create a 500x300 web window by loading the defined HTML/CSS/JS
   # It is necessary to save the resulting object because there are useful methods and signals, such as gui.Destroy() to destroy the window
   Set gui = $(HtmlGui "Something" html css js 500 300)

   # To wait for the WEB window to be closed, you can check if there is a signal that it was closed
   While Not gui.signals.closed
      Sleep 200

   Msg with "The window was closed"

