:MAIN

    # Create an Array of 3 elements
	Set Array = "First" "Second" "Third"
    
    Msg with Array[2]          # Second

    # Stack more elements by calling the Push() method
	Array.Push("Fourth")
	Array.Push("Fifth")

    Msg with Array[5]          # Fifth
	
	# Get the total number of elements
	Msg with Array.MaxIndex()  # 5 elements





    # Create an Object with keys associated with values
	Set OBJECT = Object("KEY", "Good morning", "KEY2", "Good afternoon")
	
	Msg with OBJECT.KEY        # Good morning

    Msg with OBJECT.KEY2       # Good afternoon

    # Associate a new key
    Set OBJECT.KEY3 = "Good Night"

    # Get the total number of elements
	Msg with OBJECT.Count()    # 3 elements
		


