:MAIN
	# Internet Explorer 3 or greater must be installed for this command to work.
	# Firewalls or the presence of multiple network adapters may cause this command to fail.
	# Also, some websites may block such downloads.
	#
	# -> https://www.autohotkey.com/docs/v1/lib/URLDownloadToFile.htm
		
	Set URL = "https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.9.3.jar"
	
	Print ">> Downloading APKTOOL..."
	
	# URLDownloadToFile "URL" "FILE"
	URLDownloadToFile URL "apktool.jar"
	
	Print ">> Success"
	
	# ExplorerSelect from Console Library
	# Open Windows Explorer with a file marked
	ExplorerSelect "apktool.jar"
