:MAIN
	# Default parameters:
	# 	ResolveTimeout = 0 (Undefined - Infinite)
	#	ConnectTimeout = 60000 (milliseconds - 60s)
	#	SendTimeout = 30000
	#   ReceiveTimeout = 30000
	#
	# -> https://learn.microsoft.com/es-es/windows/win32/winhttp/iwinhttprequest-settimeouts
	
	Set URL = "https://raw.githubusercontent.com/BlassGO/DinoIDE/main/images/Foods.xml"
	
	#----------------------------------------------------------------------------------
	# Get Response Plain Text from URL
	# ResponseText "URL" ResolveTimeout ConnectTimeout SendTimeout ReceiveTimeout 
	Msg "CONTENT" with $(ResponseText URL)
