:MAIN
	> SOME_XML
	 <?xml version="1.0" encoding="UTF-8"?>
	 <food>
        <name>Tacos</name>
        <type>Mexican</type>
        <ingredients>Tortilla, Meat (e.g., Beef, Chicken, Pork), Salsa, Lettuce, Cheese</ingredients>
        <description>A traditional Mexican dish consisting of a folded or rolled tortilla filled with various ingredients.</description>
	 </food>
	
	# Get an OBJECT from an XML Plain Text
	# XMLParser "TEXT"
	Set XML = $(XMLParser SOME_XML)
		
	# Get the Root Node
	# using getElementsByTagName()
	# 	Item() -> Its Index starts from 0
	Set ROOT = XML.getElementsByTagName("food").Item(0)
		
	# Access Child Nodes using getElementsByTagName() too
	Msg "NAME" with ROOT.getElementsByTagName("name").Item(0).text
	Msg "TYPE" with ROOT.getElementsByTagName("type").Item(0).text
	Msg "INGREDIENTS" with ROOT.getElementsByTagName("ingredients").Item(0).text
	Msg "DESCRIPTION" with ROOT.getElementsByTagName("description").Item(0).text

	
	
	 
	 