:MAIN
   # Allows you to request information from a file on a server (INFORMATION, NOT content)
   
   # HttpQueryInfo "URL" QueryInfoFlag "Proxy" "ProxyBypass"
   #    QueryInfoFlag -> http://msdn.microsoft.com/en-us/library/aa385351(VS.85).aspx
   
   Set URL = "https://raw.githubusercontent.com/BlassGO/DinoIDE/main/bin/icon.ico"
   
   # HTTP_QUERY_CONTENT_TYPE = 1
   Msg "TYPE" with $(HttpQueryInfo URL 1)
   
   # HTTP_QUERY_CONTENT_LENGTH = 5
   Set BYTES = $(HttpQueryInfo URL 5)
   Msg "LENGTH" with ( Round(BYTES/1024, 2) . " KB" ) # Bytes to KB
   
   # HTTP_QUERY_STATUS_CODE = 19
   Msg "STATUS" with $(HttpQueryInfo URL 19)
   
 