:MAIN
	# Allow code blocks to be executed from a URL, in this way it is possible to provide fairly simple support remotely
	#
	# NOTE: No additional security is provided, it is simply a Plain Text request to the server without further ado.
	
	Set URL = "https://raw.githubusercontent.com/BlassGO/DinoIDE/main/images/Simple.config"
	
	# WebCode "URL" ResolveTimeout ConnectTimeout SendTimeout ReceiveTimeout 
	# 	ResolveTimeout = 0 (Undefined - Infinite)
	#	ConnectTimeout = 60000 (milliseconds - 60s)
	#	SendTimeout = 30000
	#   ReceiveTimeout = 30000
	#
	# -> https://learn.microsoft.com/es-es/windows/win32/winhttp/iwinhttprequest-settimeouts
	
	# Gets the plain text from the URL and executes it as part of the Script
	# The Web Code is not automatically pre-optimized
	# if you want a more efficient execution of it, it must be included previously pre-optimized
	WebCode URL
	
	# WEB_VAR was defined within the Remote Script
	Msg "REMOTE CONTENT" with WEB_VAR