:MAIN
	# The console will only be shown if Print or StartConsole\ReadConsole\WaitConsole is used.
  	# StartConsole <Title> <width> <height> <x> <y>
    # if no position is specified, the window will be centered by default
    StartConsole "Custom Title" 80 20
	
	# Print "TEXT" false
	# Normal printing
	Print "Hello World"
	
	# Using "false" prevents the line break included by default
	Print "H" false
	Print "e" false
	Print "l" false
	Print "l" false
	Print "o" false	
	Print " " false
	Print "World"
	
	# Disable the Print function
	Disable_print
	
	# So, subsequent printouts will be ignored
	Print "Ignore me"
	
	# It is necessary to reactivate it
	Enable_print
	
	# Requests/waits for keyboard input
	# ReadConsole "TEXT"
	Set READED with $(ReadConsole "Enter anything:")
	Print "You entered: %READED%"
	
	# A call without parameters will only produce a line feed
	Print
	Print
	
	#-------------------------CMD------------------------------
	# ComSpec is a Native Variable inherited from AHK with the path of cmd.exe
	Msg "CMD PATH" with ComSpec
	
	# Syntax: cmd Param1 Param2 Param3 ParamN
	# Allows you to execute quick CMD commands.
	#
	# 	1. Use the LITERAL syntax to process each parameter as a parameter sent to CMD.
	# 		So it does not support direct reference to Variables, you must use % %
	#	2. Any parameter containing spaces/tabs will be passed to CMD in quotes
	# 	3. Returns the Error Code of the executed command

	# Change the color of text and background using Color command
	cmd color 02
	cmd echo. Printed using CMD
	cmd dir /A /B	
	
	# ExplorerSelect "PATH"
	# It is an abbreviation of the command: Explorer.exe /select,"PATH"
	# Open Windows Explorer to the File/Folder path and keep focus on it
	ExplorerSelect ComSpec
	
	WaitConsole