
# This is a Simple function
:ReturnME
   Return "Hello World!"

# Main code
:MAIN
   # Variable assignment is direct
   Set NUMBER = 100
   Set STRING = "My string"
   
   # Any basic operation, both arithmetic and concatenation, can be placed within parentheses
   Message "ARITHMETIC" with (5 * 5 + NUMBER)
   Message "CONCAT" with (STRING . " concatenated with" . " my other string ")
   
   # The function calling syntax:
   #     $(Function Param1 Param2 ParamN ...)
   #          Allows greater flexibility, since it can be placed even within strings
   Message "HELLO" with "Function result: $(ReturnME)"
