:MAIN
   # ForObj is specific to loop through OBJECTS
   #   - But does the standard FOR loop already support looping through objects?
   #		Yes, but it is designed for standard DinoCode Objects that have a KEY as well as the associated VALUE.
   #		There are Objects that can be obtained from a source external to DinoCode where it is not valid to try to obtain the KEY and VALUE   
   
   
   # IT CAN BE USED SIMILAR TO THE STANDARD FOR LOOP
   #
   # Loops based on elements of an Array/Object
   # "Index" also exists and can be related to the N element currently in use (In Arrays: Index = KEY)
   Set ARRAY with "A" "B" "C"
   ForObj KEY VALUE in ARRAY
      Msg with "%KEY% = %VALUE%"
      
      
   # Its real usefulness is in being able to obtain only the first field (KEY) if necessary.
   Set OBJECT = $(Object "FirstKEY" "Good morning" "SecondKEY" "Good afternoon")
   ForObj KEY in OBJECT
      Msg with KEY



