:MAIN
    # ForFile loop finds file paths and provides additional file information
    # "Index" is a temporary variable existing during the execution of the loop, it counts the iterations performed. 
    # "ForFile" is an temporary OBJECT unique to the ForFile loop with the information of each file, according to this structure:
    #
    #	Name			= File Name
    #	Dir				= File Directory
    #	Ext				= File Extension
    #	Path			= Fully resolved file path
    #	isFolder		= True or False
    #	Attrib			= File Attributes
    #	Size			= File Size (In Bytes)
    #	SizeKB			= File Size (In KBytes)
    #	SizeMB			= File Size (In MBytes)
    #	TimeModified	= Last modified. Format YYYYMMDDHH24MISS.
    #	TimeCreated		= File was created. Format YYYYMMDDHH24MISS.
    #	TimeAccessed	= Last accessed. Format YYYYMMDDHH24MISS.
    
    # By default it iterates over any folder or file in the current working path
    ForFile
		Print ForFile.Name
	Print "------------------------"
	
	# Filtering options:
	#	F = Allow Files
	#	D = Allow Folders
	#	R = Recursion in subfolders
	
	# Only Files
	ForFile "F"
	   Print ForFile.Ext
    Print "------------------------"
    
    # Only Folders
	ForFile "D"
	   Print ForFile.Attrib
    Print "------------------------"
    
    # Files / Folders and Recursion in subfolders
	ForFile "FDR"
	   Print ForFile.Dir
    Print "------------------------"
    
    # Specify a PATH
    # 	->	If you do not explicitly include "\*" at the end of a PATH,
    #		its contents will not be considered even if it is a folder
    ForFile "D" in "C:\Users\*" 
		Print ForFile.Path
    Print "------------------------"
    
    # Filter only files with .txt extension
    ForFile "F" in "C:\Users\*.txt" 
		Print ForFile.Path
    Print "------------------------"

    WaitConsole
    
    
    
    
    
