:MAIN
    # ForChar loop breaks a STRING using delimiters (One or more)
    # "Index" is a temporary variable existing during the execution of the loop, it counts the iterations performed. 
    # "Section" is another temporary variable unique to the ForChar loop. Contains the section extracted from the STRING.
	ForChar "$" in " First section $ Second section $ Third Section"
	   Print Section
	Print "------------------------"

	# Using two delimiters
	ForChar "$#" in " First section $ Second section # Third Section"
	   Print Section
    Print "------------------------"
    
    # If a delimiter is not specified, each character will simply be separated
    ForChar in "Hello"
	   Print Section
    Print "------------------------"

    # Using "Index" you can filter to a specific result
	ForChar "$" in " Good morning $ Good afternoon $ Good night"
	   If Index=3
	      Print Section
	Print "------------------------"
	
	# References to variables or expressions can be used freely
	Set DELIMITERS = "AEIOU"
	ForChar DELIMITERS in "A1E2I3O4U5"
	   If Section
	      Print Section
	Print "------------------------"

    # An example of freedom with expressions with the ForChar loop
    Set DELIMITERS = "ABC"
    Set CONTENT = "A:)B:/C:3"
    ForChar (DELIMITERS . "DE") in (CONTENT . "D^^E")
	   If Section
	      Print Section
	Print "------------------------"

    WaitConsole
