:main
   Set NAME with $(Input "Whats your name?")
   
   # The console will only be shown if Print or Start_Console\Read_console is used.
   # StartConsole <Title> <width> <height> <x> <y>
   # if no position is specified, the window will be centered by default
   StartConsole "Custom Title" 80 20
   
   # Using a Variable as a condition implies that it will be TRUE only if it has a value different from 0 or empty (Null)
   If NAME
      Print "Hi, %NAME%"
   Else
      Print "Hm, don't you have a name?"
   
   Set AGE with $(ReadConsole "And how old are you? ")

   Print "\n\n"
   If AGE
      If (AGE>=18)
         Print "Thanks for using this project\nI'll be waiting for your recommendations!"
      Else
         Print "So young and you are interested in this project?\nWelcome!!"
   Else If NAME
      Print "%NAME%, did you give me your name and not your age? huh"
   Else
      Print "\nBye!"
      Sleep 3000
      Exit
   
   # the console does not stop the flow of the Script, it is necessary to wait for it if required
   WaitConsole


