:MAIN
   Set VAR with $(Input "Enter a Number, Word or Date:")

   # Switch may be more optimal than using multiple IFs, both in organization and speed
   # The "case" ones compare the value sent by the Switch and execute only the section that matches. There can be multiple values in the same CASE separated by commas.
   #      case DATA, DATA, DATA ...   
   # 
   # If no case matches, the "default" section will be executed (it should always be at the end)

   Switch $(TypeOf VAR)
	   case "empty"
		  Msg with "Is Empty!"
	   case "integer", "float"
          Msg with "Is a Number!"
	   case "space"
	      Msg with "It is a space/line feed/tab/carriage return/vertical tab/formfeed"
	   case "uppercase"
		  Msg with "Uppercase characters!"
       case "lowercase"
		  Msg with "Lowercase characters!"
	   case "alpha"
	      Msg with "Alpha characters (Uppercase/Lowercase mixed)!"
	   case "alnum"
	      Msg with "Alphanumeric characters (alphabetic/numeric)!"
	   case "time"
	      Msg with "Date-time stamp, which can be all or just the leading part of the YYYYMMDDHH24MISS format."
       case "string"
          Msg with "Is a String!"
	   case "array"
          Msg with "Is an Array!"
       case "object"
          Msg with "Is an Object!"
       default
          Msg with "NO COINCIDENCE!"

   
   # By default Switch comparisons are not case sensitive
   # Specifying "true" in the second Switch parameter will enable case sensitivity
   Set CASE_2 with "HELLO WORLD"
   Switch CASE_2 true
      case "hello world"
         Msg with "CASE 1"
      case CASE_2
         Msg with "CASE 2"




