:MAIN
    # Change the default escape character, for greater convenience in directorys: from \ to `
    Escape `

    #----------------------------DEFINITION------------------------------#
    # Create an OBJECT Directory
    Set dir = $(New Directory)

    # Define the directory path
    Set dir.path = "TestFolder"

    # The above can be simplified to:
    Set dir = $(New Directory with "TestFolder")


    #---------------------------BASIC METHODS-------------------------------#
    # The Create() method only ensures the creation of the directory. If it already exists, it will not be overwritten.
    dir.Create()

    # Check the existence of the directory
    if dir.Exist()
        Msg "CHECK" with "The directory exists!"
    Else
        Msg "CHECK" with "Cannot create directory!"
        Abort
    
    # This deletes the entire directory. Doesn't work if the directory name is actually an existing FILE
    dir.Delete()

    # This deletes indiscriminately. That is, if the directory name is that of an existing file, it will delete the file or directory
    dir.DeleteAny()